@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background: url("../../public/spiderman.png") no-repeat center fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  filter: blur(8px);
  z-index: -1;
}
